/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 99%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.container-sec1 input:hover, .container-sec2 button:hover{
    background-color: #235b4e86;
    color: #FFFFFF;
}
.container-sec1 .heading{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #5A844E;
}
@media (min-width: 300px){
    .container-sec1 .heading{
        width: 100%;
        padding-top: 4%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 4%;
    }
    .container-sec1 .formulario{
        width: 100%;
        padding-top: 0%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 4%;
    }
    .container-sec1 form{
        box-sizing: border-box;
        border: 1px solid #CDCDCD;
        border-radius: 4px;
    }
    .container-sec1 form .subheading{
        text-align: center;
        padding-top: 3%;
        padding-right: 7%;
        padding-left: 7%;
        padding-bottom: 3%;
    }
    .container-sec1 .radio-btns{
        padding-right: 15%;
        padding-left: 15%;
    }
    .container-sec1 .container-barra{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .container-barra .barra{
        width: 100%;
        padding-bottom: 0%;
    }
    .container-barra .la{
        padding-left: 48%;
    }
    .container-days .days{
        padding-top: 3%;
        padding-left: 5%;
    }
    .container-days .imdays{
        width: 95%;
        padding-left: 0%;
        background: #E5E5E5;
        border-radius: 4px;
    }
    .rdbtns{
        padding-left: 15%;
        padding-bottom: 3%;
    }
    .btncom{
        padding-left: 5%;
        padding-bottom: 3%; 
    }
    .btncom input{
        width: 95%;
        box-sizing: border-box;
        border: 2px solid #235B4E;
        border-radius: 4px;
        color: #235B4E;
        background-color: transparent;
    }
    .container-sec2 .resultados{
        width: 100%;
        padding-top: 4%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 4%;
    }
    .container-sec2 .res{
        box-sizing: border-box;
        border: 1px solid #CDCDCD;
        border-radius: 4px;
    }
    .container-sec2 .heading2{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #5A844E;
        padding-top: 3%;
        padding-right: 7%;
        padding-left: 7%;
        padding-bottom: 3%;
    }
    .container-sec2 .paragraph{
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 4%;
    }
    .container-sec2 .stats{
    padding-left: 2%;
    padding-right: 2%;
    }
    .container-sec2 .auto, .container-sec2 .ferro, .container-sec2 .bici, .container-sec2 .moto {
        display: flex;
        flex-flow: row nowrap;
        padding-bottom: 3%;
    }
    .container-sec2 .logo{
        padding-left: 3%;
        width: 20%;
    }
    .container-sec2 .auto .barra, .container-sec2 .moto .barra{
        width: 80%;
        text-align: center;
        background: #CDCDCD;
        border-radius: 0% 20px 20px 0% ;
    }
    .container-sec2 .ferro .barra, .container-sec2 .bici .barra{
        text-align: center;
        background: #CDCDCD;
        border-radius: 0% 20px 20px 0% ;
    }
    .container-sec2 span{
        color: #5A844E;
    }
    .container-sec2 .btndes{
        padding-bottom: 5%;
    }
    .container-sec2 a{
        padding-left: 7%;
    }
    .container-sec2 button{
        box-sizing: border-box;
        border: 2px solid #235B4E;
        border-radius: 4px;
        color:#235B4E;
        background-color: transparent;
        width: 90%;
    }
}
@media (min-width: 992px){
    .container-sec1 .heading{
        width: 100%;
        padding-top: 4%;
        padding-left: 30%;
        padding-right: 30%;
        padding-bottom: 3%;
    }
    .container-sec1 .formulario{
        width: 100%;
        padding-top: 2%;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 4%;
    }
    .container-sec1 form{
        box-sizing: border-box;
        border: 1px solid #CDCDCD;
        border-radius: 4px;
    }
    .container-sec1 form .subheading{
        text-align: center;
        padding-top: 3%;
        padding-right: 50%;
        padding-left: 7%;
        padding-bottom: 3%;
    }
    .container-sec1 .radio-btns{
        padding-right: 50%;
        padding-left: 15%;
    }
    .container-sec1 .container-barra{
        width: 100%;
        padding-left: 15%;
        padding-right: 15%;
    }
    .container-barra .barra{
        width: 100%;
        padding-bottom: 0%;
    }
    .container-barra .la{
        padding-left: 48%;
    }
    .container-days .days{
        padding-top: 3%;
        padding-left: 15%;
    }
    .container-days .imdays{
        width: 45%;
        padding-left: 5%;
        background: #E5E5E5;
        border-radius: 4px;
    }
    .rdbtns{
        padding-left: 15%;
        padding-bottom: 3%;
    }
    .btncom{
        padding-left: 7%;
        padding-bottom: 3%; 
    }
    .btncom input{
        width: 50%;
        box-sizing: border-box;
        border: 2px solid #235B4E;
        border-radius: 4px;
        color: #235B4E;
        background-color: transparent;
    }
    .container-sec2 .resultados{
        width: 100%;
        padding-top: 2%;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 2%;
    }
    .container-sec2 .res{
        box-sizing: border-box;
        border: 1px solid #CDCDCD;
        border-radius: 4px;
    }
    .container-sec2 .heading2{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #5A844E;
        padding-top: 3%;
        padding-right: 50%;
        padding-left: 7%;
        padding-bottom: 3%;
    }
    .container-sec2 .paragraph{
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 4%;
    }
    .container-sec2 .stats{
    padding-left: 7%;
    padding-right: 7%;
    }
    .container-sec2 .auto, .container-sec2 .ferro, .container-sec2 .bici, .container-sec2 .moto{
        display: flex;
        flex-flow: row nowrap;
        padding-bottom: 3%;
    }
    .container-sec2 .logo{
        padding-left: 0%;
        width: 15%;
    }
    .container-sec2 .auto .barra, .container-sec2 .moto .barra{
        width: 85%;
        text-align: center;
        background: #CDCDCD;
        border-radius: 0% 20px 20px 0% ;
    }
    .container-sec2 .ferro .barra, .container-sec2 .bici .barra{
        text-align: center;
        background: #CDCDCD;
        border-radius: 0% 20px 20px 0% ;
    }
    .container-sec2 span{
        color: #5A844E;
    }
    .container-sec2 .btndes{
        padding-bottom: 5%;
    }
    .container-sec2 a{
        padding-left: 7%;
    }
    .container-sec2 button{
        box-sizing: border-box;
        border: 2px solid #235B4E;
        border-radius: 4px;
        color:#235B4E;
        background-color: transparent;
        width: 25%;
    }
}